body {
  background-image: url(apple-1868496_1280.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: transitionIn 5s;
  background-color: #F0F0F0;
}

* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
}

.main {
  margin-top: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.main_gary {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  animation: transitionIn 2s;
}

.main_web {
  font-family: "Roboto Mono", monospace;
  animation: transitionIn 4s;
}

.navbar navbar-dark bg-dark {
  font-family: "Roboto Mono", monospace;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    margin-top: 160px;
  }
}
@media screen and (min-width: 992px) {
  .main {
    margin-top: 160px;
  }
}