@import "./base";
@import "./components";
@import "./layout";


/*.quote {
    display: flex;
    justify-content: center;
    margin-top: 450px;

    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    /*border: 2px solid black;
    margin-bottom: 0;
}
*/

.main {
    margin-top: 230px;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    padding-right: 0;

}

.main_gary {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;

    /*animation: transitionIn 2s;*/

}

.main_web {
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    font-weight: 300;

}


.navbar navbar-dark bg-dark {
    font-family: 'Roboto Mono', monospace;
}











@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 1200px) {


    .main {
        margin-top: 200px;
    }
}

@media screen and (min-width: 992px) {


    .main {
        margin-top: 200px;
    }
}