@import "./base";
@import "./components";
@import "./layout";


.header {
    margin-top: 20px;

}

h1 {
    font-size: 50px;
}

.header_gary {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin-left: 400px;
    animation: transitionIn 2s;

}

.header_web {
    animation: transitionIn 4s;
}

.header_web {
    font-family: 'Roboto Mono', monospace;

    margin-left: 750px;
}

main {
    font-family: 'Roboto Mono', monospace;

    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 620px;
}

.main_about {
    margin-bottom: 40px;
    animation: transitionIn 5s;

}

.main_experience {
    animation: transitionIn 6s;
}

i {
    color: #879D41;
}

h2 {
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}